@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overscroll-behavior: none;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100%;
}

@keyframes sine {
	0% {
		d: path("M0,20 C120,10 240,30 360,20 C480,10 600,30 720,20 C840,10 960,30 1080,20 C1200,10 1320,30 1440,20");
	}

	25% {
		d: path("M0,20 C120,15 240,25 360,20 C480,15 600,25 720,20 C840,15 960,25 1080,20 C1200,15 1320,25 1440,20");
	}

	50% {
		d: path("M0,20 C120,20 240,20 360,20 C480,20 600,20 720,20 C840,20 960,20 1080,20 C1200,20 1320,20 1440,20");
	}

	75% {
		d: path("M0,20 C120,25 240,15 360,20 C480,25 600,15 720,20 C840,25 960,15 1080,20 C1200,25 1320,15 1440,20");
	}

	100% {
		d: path("M0,20 C120,10 240,30 360,20 C480,10 600,30 720,20 C840,10 960,30 1080,20 C1200,10 1320,30 1440,20");
	}
}

.sine-wave {
	animation: sine 6s linear infinite;
}

.clip-diagonal {
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5%), 0 100%);
}
